@import './base/common';

@import './base/resetstyles';

@import './utils/variables';

@import './utils/functions';

@import './utils/breakpoints';

@import './utils/mixin';

@import './layout/body';

@import './layout/container';

@import './layout/section';

@import './partials/header';

@import './partials/hero';

@import './partials/all-categories';

@import './partials/search-and-filters';

@import './partials/favorites-hero';

@import './partials/favorites-categories';

@import './partials/favorites-default';

@import './partials/popular-recipes';
