$breakpoints: (
  'mobile': (
    min-width: #{$mobile},
  ),
  'tablet': (
    min-width: #{$tablet},
  ),
  'desktop': (
    min-width: #{$desktop},
  ),
  '-mobile': (
    max-width: #{$mobile - 1},
  ),
  '-tablet': (
    max-width: #{$tablet - 1},
  ),
  '-desktop': (
    max-width: #{$desktop - 1},
  ),
  'mobile-tablet': (
    min-width: #{$mobile},
  )
  #{and} (
    max-width: #{$tablet - 1},
  ),
  'mobile-desktop': (
    min-width: #{$mobile},
  )
  #{and} (
    max-width: #{$desktop - 1},
  ),
  'tablet-desktop': (
    min-width: #{$tablet},
  )
  #{and} (
    max-width: #{$desktop - 1},
  ),
) !default;
