// <---------------------- Colors ---------------------->
$light-theme-colors: (
  //   Black
  'black-high': rgba(5, 5, 5, 0.8),
  'black-semi': rgba(5, 5, 5, 0.5),
  'black-low': rgba(5, 5, 5, 0.3),
  'black-very-low': rgba(5, 5, 5, 0.2),
  'black-max-opacity': rgba(5, 5, 5, 0.18),
  //   White
  'white-full': rgba(248, 248, 248, 1),
  'white-semi-dark': rgba(248, 248, 248, 0.6),
  'white-semi-medium': rgba(248, 248, 248, 0.5),
  'white-semi-faint': rgba(248, 248, 248, 0.2),
  'white-semi-light': rgba(248, 248, 248, 0.1)
);

$dark-theme-colors: (
  // Black
  'dark-black': rgba(22, 22, 22, 1),
  // White
  'white-full': rgba(255, 255, 255, 1),
  'white-semi-medium': rgba(255, 255, 255, 0.8),
  'white-semi-high': rgba(255, 255, 255, 0.6),
  'white-semi-light': rgba(255, 255, 255, 0.5),
  'white-semi-low': rgba(255, 255, 255, 0.3),
  'white-semi-very-very-low': rgba(255, 255, 255, 0.2),
  'white-semi-max-opacity': rgba(255, 255, 255, 0.18),
  'white-semi-very-low': rgba(255, 255, 255, 0.1)
);

// Black
$black-full: rgba(5, 5, 5, 1);
//   Gray
$gray-full: rgba(206, 205, 205, 1);
//   Green
$green-full: rgba(155, 181, 55, 1);
$green-low: rgba(155, 181, 55, 0.3);
// Orange
$orange-full: rgba(238, 161, 12, 1);

// <---------------------- Fonts ---------------------->
$fontPrimary: 'Inter', sans-serif;

// <---------------------- Transition ---------------------->
$transitionDuration: 300ms;
$transitionTiming: cubic-bezier(0.4, 0, 0.2, 1);

// <---------------------- Breakpoints ---------------------->
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
