<section>
        <ul class="cards-list">
            <!-- <li class="cards-item">
                <img src="./images/test-card-img.png" alt="" class="card-img">
                <button type="button" class="btn-heard-icone">
                    <svg class="cards-heard-icon">
                        <use href="./images/icons.svg#icon-heart-card"></use>
                    </svg>
                </button>
                <h2 class="cards-item-title">BANANA PANCAKES</h2>
                <p class="cards-item-text">
                    Banana pancakes are a fluffy and sweet breakfast dish made with mashed ripe bananas, eggs, flour,
                    and a touch of cinnamon, cooked to perfection on a skillet and served with toppings of your choice.

                </p>
                
                <p class="cards-raiting">4.5</p>
                <div class="rating-wrapper">
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                </div>
                <button type="button" class="cards-item-btn">See recipe</button>

                
            </li>
            <li class="cards-item">
                <img src="./images/test-card-img.png" alt="" class="card-img">
                <svg class="cards-heard-icon">
                    <use href="./images/icons.svg#icon-heart-card"></use>
                </svg>
                <h2 class="cards-item-title">BANANA PANCAKES</h2>
                <p class="cards-item-text">
                    Banana pancakes are a fluffy and sweet breakfast dish made with mashed ripe bananas, eggs, flour,
                    and a touch of cinnamon, cooked to perfection on a skillet and served with toppings of your choice.
            
                </p> -->
                <!-- <div class="cards-wrapper"> -->
                <!-- <p class="cards-raiting">4.5</p>
                <div class="rating-wrapper">
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                </div>
                <button type="button" class="cards-item-btn">See recipe</button>
             -->
                <!-- </div> -->
            <!-- </li>
            <li class="cards-item">
                <img src="./images/test-card-img.png" alt="" class="card-img">
                <svg class="cards-heard-icon">
                    <use href="./images/icons.svg#icon-heart-card"></use>
                </svg>
                <h2 class="cards-item-title">BANANA PANCAKES</h2>
                <p class="cards-item-text">
                    Banana pancakes are a fluffy and sweet breakfast dish made with mashed ripe bananas, eggs, flour,
                    and a touch of cinnamon, cooked to perfection on a skillet and served with toppings of your choice.
            
                </p>
                 <div class="cards-wrapper"> -->
                <!-- <p class="cards-raiting">4.5</p>
                <div class="rating-wrapper">
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                </div>
                <button type="button" class="cards-item-btn">See recipe</button>
             --> 
                <!-- </div> -->
            <!-- </li>
            <li class="cards-item">
                <img src="./images/test-card-img.png" alt="" class="card-img">
                <svg class="cards-heard-icon">
                    <use href="./images/icons.svg#icon-heart-card"></use>
                </svg>
                <h2 class="cards-item-title">BANANA PANCAKES</h2>
                <p class="cards-item-text">
                    Banana pancakes are a fluffy and sweet breakfast dish made with mashed ripe bananas, eggs, flour,
                    and a touch of cinnamon, cooked to perfection on a skillet and served with toppings of your choice.
            
                </p> -->
                <!-- <div class="cards-wrapper"> -->
                <!-- <p class="cards-raiting">4.5</p>
                <div class="rating-wrapper">
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                </div>
                <button type="button" class="cards-item-btn">See recipe</button>
             -->
                <!-- </div> -->
            <!-- </li>
            <li class="cards-item">
                <img src="./images/test-card-img.png" alt="" class="card-img">
                <svg class="cards-heard-icon">
                    <use href="./images/icons.svg#icon-heart-card"></use>
                </svg>
                <h2 class="cards-item-title">BANANA PANCAKES</h2>
                <p class="cards-item-text">
                    Banana pancakes are a fluffy and sweet breakfast dish made with mashed ripe bananas, eggs, flour,
                    and a touch of cinnamon, cooked to perfection on a skillet and served with toppings of your choice.
            
                </p> -->
                <!-- <div class="cards-wrapper"> -->
                <!-- <p class="cards-raiting">4.5</p>
                <div class="rating-wrapper">
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                </div>
                <button type="button" class="cards-item-btn">See recipe</button>
             -->
                <!-- </div> -->
            <!-- </li>
            <li class="cards-item">
                <img src="./images/test-card-img.png" alt="" class="card-img">
                <svg class="cards-heard-icon">
                    <use href="./images/icons.svg#icon-heart-card"></use>
                </svg>
                <h2 class="cards-item-title">BANANA PANCAKES</h2>
                <p class="cards-item-text">
                    Banana pancakes are a fluffy and sweet breakfast dish made with mashed ripe bananas, eggs, flour,
                    and a touch of cinnamon, cooked to perfection on a skillet and served with toppings of your choice.
            
                </p> -->
                <!-- <div class="cards-wrapper"> -->
                <!-- <p class="cards-raiting">4.5</p>
                <div class="rating-wrapper">
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                    <svg class="card-rating-icon">
                        <use href="./images/icons.svg#star"></use>
                    </svg>
                </div>
                <button type="button" class="cards-item-btn">See recipe</button> -->
            
                <!-- </div> -->
            <!-- </li> -->
           

        </ul>
</section>