<section>
    <div class="container">
        <ul class="cards-list">
            <li class="cards-item">
                <svg class="cards-heard-icon">
                    <use href="./images/icons.svg#icon-heart-card"></use>
                </svg>
                <h2 class="cards-item-title">BANANA PANCAKES</h2>
                <p class="cards-item-text">
                    Banana pancakes are a fluffy and sweet breakfast dish made with mashed ripe bananas, eggs, flour, and a touch of cinnamon, cooked to perfection on a skillet and served with toppings of your choice.

                </p>
                <div class="cards-wrapper">
                    <p class="cards-raiting">4.5</p>
                    <button type="button" class="cards-item-btn">See recipe</button>

                </div>
            </li>
            <!-- <li class="cards-item">
                <h2 class="cards-item-title">BANANA PANCAKES</h2>
                <p class="cards-item-text">
                    Banana pancakes are a fluffy and sweet breakfast dish made with mashed ripe bananas, eggs, flour, and a touch of cinnamon, cooked to perfection on a skillet and served with toppings of your choice.

                </p>
                <button type="button" class="cards-item-btn">See recipe</button>
            </li>
            <li class="cards-item">
                <h2 class="cards-item-title">bANANA pANCAKES</h2>
                <p class="cards-item-text">
                    Banana pancakes are a fluffy and sweet breakfast dish made with mashed ripe bananas, eggs, flour, and a touch of cinnamon, cooked to perfection on a skillet and served with toppings of your choice.

                </p>
                <button type="button" class="cards-item-btn">See recipe</button>
            </li>
            <li class="cards-item">
                <h2 class="cards-item-title">bANANA pANCAKES</h2>
                <p class="cards-item-text">
                    Banana pancakes are a fluffy and sweet breakfast dish made with mashed ripe bananas, eggs, flour, and a touch of cinnamon, cooked to perfection on a skillet and served with toppings of your choice.

                </p>
                <button type="button" class="cards-item-btn">See recipe</button>
            </li>
            <li class="cards-item">
                <h2 class="cards-item-title">bANANA pANCAKES</h2>
                <p class="cards-item-text">
                    Banana pancakes are a fluffy and sweet breakfast dish made with mashed ripe bananas, eggs, flour, and a touch of cinnamon, cooked to perfection on a skillet and served with toppings of your choice.

                </p>
                <button type="button" class="cards-item-btn">See recipe</button>
            </li>
            <li class="cards-item">
                <h2 class="cards-item-title">bANANA pANCAKES</h2>
                <p class="cards-item-text">
                    Banana pancakes are a fluffy and sweet breakfast dish made with mashed ripe bananas, eggs, flour, and a touch of cinnamon, cooked to perfection on a skillet and served with toppings of your choice.

                </p>
                <button type="button" class="cards-item-btn">See recipe</button>
            </li> -->
        </ul>
    </div>
</section>