<footer class="footer">
  <div class="container footer-container">
    <!-- Logo -->
    <a href="./index.html" class="footer-logo"
      ><span class="footer-logo-span">tasty</span>treats.</a
    >

    <ul class="footer-list list">
      <li class="footer-item">
        <a href="./index.html" class="current footer-link">Home</a>
      </li>
      <li class="footer-item">
        <a href="" class="footer-link">Favorites</a>
      </li>
    </ul>

    <ul class="footer-information list">
      </li>
        <p class="footer-information-item">Privacy Policy</p>
        <p class="footer-information-item">All rights reserved</p>
      </li>
      <li>
        <p class="footer-information-item">&#169;2023 Tasty Treats.</p>
        <p class="footer-information-item">Created by GoIT students.</p>
      </li>
    </ul>
  </div>
</footer>
