<!-- Site footer -->
<footer
  class="site-footer"
  data-aos="fade-up"
  data-aos-duration="1000"
  data-aos-anchor-placement="top-bottom"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          We are the team of students from GoIT Project 06, dedicated to the
          ideals of Full Stack development. Our journey started with mastering
          the fundamentals of programming and has expanded to creating
          interactive user interfaces through Frontend. We are not only learning
          technical skills, but also cultivating teamwork, ready to take on
          challenges of the IT world, and aspiring to become sought-after Full
          Stack specialists.
        </p>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2023 Tasty Treats. by
          <a href="https://html.m.goit.global/" aria-label="GoIT"
            >GoIT students</a
          >.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a
              class="facebook"
              href="https://www.facebook.com/"
              aria-label="Facebook"
            >
              <svg class="footer-social-icon">
                <use href="/src/images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="twitter"
              href="https://www.twitter.com/"
              aria-label="Twitter"
            >
              <svg class="footer-social-icon">
                <use href="/src/images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="instagram"
              href="https://www.instagram.com/"
              aria-label="Instagram"
            >
              <svg class="footer-social-icon">
                <use href="/src/images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="youtube"
              href="https://www.youtube.com/"
              aria-label="YouTube"
            >
              <svg class="footer-social-icon">
                <use href="/src/images/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
