<footer class="footer">
  <div class="container footer-container">
    <!-- Logo -->
    <div class="footer-site-link">
      <a href="./index.html" class="footer-logo"
        ><span class="footer-logo-span">tasty</span>treats.</a
      >
      <div class="footer-social">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.facebook.com/"
              aria-label="Facebook"
            >
              <svg class="footer-social-icon">
                <use href="/src/images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.instagram.com/"
              aria-label="Instagram"
            >
              <svg class="footer-social-icon">
                <use href="/src/images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.youtube.com/"
              aria-label="YouTube"
            >
              <svg class="footer-social-icon">
                <use href="/src/images/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="footer-information list">
      <li class="footer-information-li">
        <p class="footer-information-item">Privacy Policy</p>
        <p class="footer-information-item">All rights reserved</p>
      </li>
      <li class="footer-information-li">
        <p class="footer-information-item">&#169;2023 Tasty Treats.</p>
        <p class="footer-information-item">Created by GoIT students.</p>
      </li>
    </ul>
  </div>
</footer>
