<header class="header">
  <div class="header-container container">
    <!-- Navigation -->
    <nav class="header-nav">
      <ul class="nav-list list">
        <li class="nav-item">
          <a href="./index.html" class="nav-link current">Home</a>
        </li>
        <li class="nav-item"><a href="" class="nav-link">Favorites</a></li>
      </ul>
    </nav>
    <!-- Logo -->
    <a href="./index.html" class="header-logo"
      ><span class="header-logo-span">tasty</span>treats.</a
    >
    <div class="utility-bar">
      <!-- Tasty cart -->
      <button type="button" class="cart-button">
        <svg class="cart-icon" width="24" height="24">
          <use xlink:href="./images/icons.svg#cart"></use>
        </svg>
      </button>
      <!-- Theme toggle -->
      <label class="switch">
        <input class="checkbox" type="checkbox" />
        <span class="slider"></span>
      </label>
    </div>
  </div>
</header>
