<section class="hero-section section">
  <div class="hero-container container">
    <div class="hero">
      <h1 class="hero-title">
        learn to cook
        <span class="hero-span">tasty treats' </span> customizable masterclass
      </h1>
      <p class="hero-text">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button class="button-hero">Order now</button>
    </div>
    <!-- Swiper -->
    <div class="swiper-container">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper"></div>
      </div>
      <div class="swiper-pagination js-hero-pagination"></div>
    </div>
  </div>
</section>
