<section>
    <div class="hero-container container">
        <div class="hero">
            <h1 class="hero-text">LEARN TO COOK <span class="hero-text-tasty"> TASTY TREATS'</span> CUSTOMIZABLE
                MASTERCLASS </h1>
            <p class="hero-title">TastyTreats - Customize Your Meal with Ingredient
                Options and Step-by-Step Video
                Guides.</p>
            <button class="button-hero button-text">Order now</button>
        </div>

        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card-shef"></div>
                    <div class="card-food"></div>
                    <div class="card-food"></div>
                </div>
                <!-- <div class="swiper-slide">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="swiper-slide">
                    <div></div>
                    <div></div>
                    <div></div>
                </div> -->
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>