<div class="modal-backdrop is.hidden hidden" data-modal>

    <div class="modal-wrap">

        <div class="modal-recipe-card">
            <button type="button" class="modal-btn-close button" data-modal-action="close">
                <svg class="modal-button-icon" width="20" height="20">
                    <use href="/src/images/icons.svg#icon-x"></use>
                </svg>
            </button>

            <h2 class="recipe-name-tablet">Recipe name</h2>

            <div class="modal-recipe-video"> <iframe src="https://www.youtube.com/embed/e52IL8zYmaE?fs=0"
                    frameborder="0" allow="accelerometer; autoplay;  picture-in-picture; " allowfullscreen></iframe>
            </div>

            <div class="tablet-wrap">
                <ul class="hashtag-btn-list-tablet list">
                    <li class="hashtag-btn-item">#Breakfast</button></li>
                    <li class="hashtag-btn-item">#Desert</button></li>
                    <li class="hashtag-btn-item">#Sweet<button class="button hashtag-btn" type="button"></button></li>
                </ul>
            </div>

            <div class="modal-recipe-info">
                <h2 class="recipe-name">Recipe name</h2>
                <p class="modal-rating-value">4</p>
                <div class="modal-rating-list">
                    <!-- <input type="radio" class="rating-item" name="rating" value="1" aria-label="one" />
                            <input type="radio" class="rating-item" name="rating" value="2" aria-label="two" />
                            <input type="radio" class="rating-item" name=" rating" value="3" aria-label="three" />
                            <input type="radio" class="rating-item" name="rating" value="4" aria-label="four" />
                            <input type="radio" class="rating-item" name="rating" value="5" aria-label="five" /> -->

                    <span class="modal-cooktime">40 min</span>
                </div>
            </div>

            <div class="modal-ingr-wrap">
                <ul class="modal-ingr-list">
                    <li class="modal-ingr-item">Baking Powder<span class="modal-ingr-value">2 medium</span>
                    </li>
                    <li class="modal-ingr-item">Baking Powder<span class="modal-ingr-value">2 medium</span>
                    </li>
                </ul>
            </div>

            <ul class="hashtag-btn-list list">
                <li class="hashtag-btn-item">#Breakfast</button></li>
                <li class="hashtag-btn-item">#Desert</button></li>
                <li class="hashtag-btn-item">#Sweet<button class="button hashtag-btn" type="button"></button></li>
            </ul>

            <p class="modal-recipe-instructions">Mash the ripe banana in a medium mixing bowl. Add the egg and whisk
                together until well combined. Add the flour, baking
                powder, cinnamon (if using), and salt, and stir until just combined. Heat a non-stick skillet or griddle
                over medium
                heat and add the vegetable oil or melted butter. Scoop the batter onto the skillet or griddle using a
                1/4 cup measure,
                and cook for 2-3 minutes on each side, or until the pancakes are golden brown and cooked through. Serve
                warm with your
                favorite toppings such as maple syrup, sliced bananas, or whipped cream.
            </p>

            <ul class="modal-evaluating-btn">
                <li><button class="button modal-favorite-btn" type="button">Add to favorite</button></li>
                <li><button class="button modal-rating-btn" type="button">Give a rating</button></li>
            </ul>

        </div>
    </div>
</div>