<div class="modal-backdrop backdrop">
  <div class="modal-wrap">
    <div class="modal-recipe-card">
      <button type="button" class="modal-btn-close">
        <svg class="modal-button-icon" width="20" height="20">
          <use href="/src/images/icons.svg#icon-x"></use>
        </svg>
      </button>

      <div class="card-markup-modal"></div>

      <div class="extra-modal-button">
        <button class="modal-add-favorite">Add to favorite</button>
        <button class="modal-give-rating">Give a rating</button>
      </div>
    </div>
  </div>
</div>
