<!-- Order now -->

<div class="order-backdrop backdrop">
  <div class="order-modal">
    <button type="button" class="order-btn-close button">
      <svg class="modal-button-icon" width="20" height="20">
        <use href="/src/images/icons.svg#icon-x"></use>
      </svg>
    </button>

    <h3 class="order-title">Order now</h3>

    <div class="order-form-wrap">
      <form class="order-form-modal">
        <ul class="order-form-list list">
          <li class="order-form-list-item">
            <label class="order-form-label" for="customer-name">Name</label>
            <div class="order-form-input-wrap">
              <input
                class="order-form-input"
                type="text"
                name="name"
                id="customer-name"
                required
                minlength="2"
                pattern="([A-Za-zА-Яа-яІіЇї]+\s)*[A-Za-zА-Яа-яІіЇї]+"
                title="Іванов Іван/John Snow"
                autofocus
              />
            </div>
          </li>

          <li class="order-form-list-item">
            <label class="order-form-label" for="phone-number"
              >Phone number</label
            >
            <div class="order-form-input-wrap">
              <input
                class="order-form-input"
                type="tel"
                name="phone"
                id="phone-number"
                required
                pattern="\+380\d{9}"
                minlength="13"
                title="+380000000000"
              />
            </div>
          </li>

          <li class="order-form-list-item">
            <label class="order-form-label" for="form-email">Email</label>
            <div class="order-form-input-wrap">
              <input
                class="order-form-input"
                type="email"
                name="email"
                id="form-email"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                title="info@mail.com"
              />
            </div>
          </li>

          <li class="order-form-list-item">
            <label class="order-form-label" for="comment">Comments</label>
            <textarea
              class="order-form-input form-comment"
              name="comment"
              id="comment"
            ></textarea>
          </li>
        </ul>
        <button class="order-form-btn button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
