<div class="rating-backdrop is-hidden hidden" data-rating-modal>
    <div class="rating-modal-wrap">
        <div class="rating-modal-card">
            <button type="button" class="modal-btn-close button" data-rating-action="close">
                <svg class="modal-button-icon" width="20" height="20">
                    <use href="/src/images/icons.svg#icon-x"></use>
                </svg>
            </button>

            <div class="rating-cover">
                <p class="rating-form-paragraph">Rating</p>
                <span class="rating-rating-value">0</span>
                <!-- <ul class="pop-rating" role="group" aria-labelledby="pop-recipe-rating">
                                 <li><input type="radio" class="pop-rating-star" name="rating" value="1" /></li>
                                 <li><input type="radio" class="pop-rating-star" name="rating" value="2" /></li>
                                 <li><input type="radio" class="pop-rating-star" name="rating" value="3" /></li>
                                 <li><input type="radio" class="pop-rating-star" name="rating" value="4" /></li>
                                 <li><input type="radio" class="pop-rating-star" name="rating" value="5" /></li>
                             </ul> -->
            </div>

            <div class="rating-input-wrap">
                <input class="rating-email-input" type="email" name="email" id="email" placeholder="Enter email"
                    required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <!-- <label class="rating-label" for="email">Enter email</label> -->
                <button type="submit" class="button rating-modal-btn">Send</button>
            </div>

        </div>

    </div>

</div>
</div>