<section class="recipes">
  <div class="container recipes-wrap">
    <div class="categories-and-popular">
      <!-- All categories-->
      <include src="./partials/all-categories.html"></include>
      <!-- Popular Reciples -->
      <include src="./partials/popular-recipes.html"></include>
    </div>
    <div class="search-and-cards">
      <!-- Search and Filters -->
      <include src="./partials/search-and-filters.html"></include>
      <!-- card tmpl -->
      <include src="./partials/cards-murcup.html"></include>
    </div>
  </div>
</section>
