<section class="recipes-section section" id="recipes">
  <div class="container recipes-wrap">
    <div class="categories-and-popular">
      <!-- All categories-->
      <include src="./partials/all-categories.html"></include>
      <!-- Popular Reciples -->
      <include src="./partials/popular-recipes.html"></include>
    </div>
    <div class="search-and-cards">
      <!-- Search and Filters -->
      <include src="./partials/search-and-filters.html"></include>
      <!-- card tmpl -->
      <include src="./partials/cards-murcup.html"></include>
      <!-- if we have not recipes -->
      <div class="failure-wrap hide">
        <p class="failure-text">We have no matches for this query</p>
      </div>
      <!-- Pagination -->
      <include src="./partials/pagination.html"></include>
    </div>
  </div>
</section>
