<div class="search-and-filters container">
  <form class="search-form">
    <p class="search-form-text">Search</p>
    <div class="input-wrapper">
      <input
        type="text"
        class="input"
        autocomplete="off"
        placeholder="Enter Text"
      />
      <svg class="input-icon">
        <use xlink:href="./images/icons.svg#search"></use>
      </svg>
    </div>
  </form>
  <div class="filter-wrapper">
    <p class="search-form-text">Time</p>
    <select class="time-select filter">
      <option data-placeholder="true">Select time</option>
    </select>
  </div>
  <div class="filter-wrapper">
    <p class="search-form-text">Area</p>
    <select class="area filter">
      <option data-placeholder="true">Select area</option>
    </select>
  </div>
  <div class="filter-wrapper last-child">
    <p class="search-form-text">Ingridients</p>
    <select class="ingredients filter">
      <option data-placeholder="true">Select ingredients</option>
    </select>
  </div>
</div>
