<div class="search-and-filters">
  <div class="search-form">
    <p class="search-form-text">Search</p>
    <div class="input-wrapper">
      <input
        type="text"
        class="input"
        autocomplete="off"
        placeholder="Enter Text"
      />
      <svg class="input-icon">
        <use xlink:href="./images/icons.svg#search"></use>
      </svg>
    </div>
  </div>
  <div class="filter-wrapper time-wrapper">
    <p class="search-form-text">Time</p>
    <select class="time-select filter">
      <option data-placeholder="true">0 min</option>
    </select>
  </div>
  <div class="filter-wrapper area-wrapper">
    <p class="search-form-text">Area</p>
    <select class="area filter">
      <option data-placeholder="true">Region</option>
    </select>
  </div>
  <div class="filter-wrapper ingredients-wrapper">
    <p class="search-form-text">Ingridients</p>
    <select class="ingredients filter">
      <option data-placeholder="true">Product</option>
    </select>
  </div>
</div>
