<section class="favorites">
  <div class="favorites-container container">
    <h2 class="visuallyhidden">Favorites</h2>
    <picture>
      <source
        srcset="./images/favorites/fav-decktop-1x.webp 1x, ./images/favorites/fav-decktop-2x.webp 2x"
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source srcset="./images/favorites/fav-decktop-1x.jpg 1x, ./images/favorites/fav-decktop-2x.jpg 2x" media="(min-width: 1280px)" />
      <source
        srcset="./images/favorites/fav-tablet-1x.webp 1x, ./images/favorites/fav-tablet-2x.webp 2x"
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source srcset="./images/favorites/fav-tablet-1x.jpg 1x, ./images/favorites/fav-tablet-2x.jpg 2x" media="(min-width: 768px)" />
      <source srcset="./images/favorites/fav-mob-1x.webp 1x, ./images/favorites/fav-mob-2x.webp 2x" media="(max-width: 767px)" type="image/webp" />
      <source srcset="./images/favorites/fav-mob-1x.jpg 1x, ./images/favorites/fav-mob-2x.jpg 2x" media="(max-width: 767px)" />
      <img src="./images/favorites/fav-decktop-1x.jpg" alt="rice and fish dish" class="fav-def-img" width="335" height="516" />
    </picture>
    <div class="favorites-main-wrapper">
      <!-- All-category -->
      <div class="all-fav-btn">
        <div class="swiper-favorite-navigation">
          <div class="swiper-wrapper js-favorites-filter">
            <div class="swiper-slide"><button type="button" data-category="all" class="fav-categoty-btn active">All categories</button></div>
          </div>
        </div>
      </div>
      <!-- FAVORITES-CARDS -->
      <ul class="favorite-render-cards favorites-recipes-js"></ul>
    </div>
  </div>
</section>
