<footer class="container">
  <ul class="footer">
    <li class="footer-copyright">&copy; 2023 TastyTreats. All rights reserved.</li>
    <li>
      <a class="link" href="./index.html"> <span class="footer-green-text">tasty</span><span class="footer-black-text">treats.</span> </a>
    </li>
    <li>
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a
            class="footer-social-link link"
            href="https://uk-ua.facebook.com/"
            rel="noreferrer noopener"
            target="_blank"
            aria-label="Facebook"
            title="Facebook"
          >
            <svg class="footer-social-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-facebook-small"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link link"
            href="https://www.instagram.com/"
            rel="noreferrer noopener"
            target="_blank"
            aria-label="Instagram"
            title="Instagram"
          >
            <svg class="footer-social-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-instagram-small"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link link"
            href="https://www.youtube.com/"
            rel="noreferrer noopener"
            target="_blank"
            aria-label="Youtube"
            title="Youtube"
          >
            <svg class="footer-social-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-youtube-small"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</footer>
