<section class="hero section-hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero-title">
        Learn to Cook
        <span class="green-color">Tasty Treats'</span> Customizable Masterclass
      </h1>
      <p class="hero-subtitle">TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.</p>
      <button class="hero-button" data-popup="order">Order now</button>
    </div>
    <div class="hero__slider">
      <div class="swiper swiper-hero">
        <div class="swiper-wrapper js-events"></div>
      </div>
      <div class="swiper-pagination js-hero-pagination"></div>
    </div>
  </div>
</section>
