.categories-wrap {
  position: relative;
  height: 100px;
}
.all-categories.active {
  background-color: var(--color-green);
  color: var(--color-light-theme);
  border-color: 1px solid var(--color-green);
}
.btn-all.active {
  color: var(--color-green);
}
body.dark-theme .btn-all.category-btn-active {
  color: var(--color-green);
}

body.dark-theme .all-categories {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
body.dark-theme .btn-all {
  color: var(--color-light-theme);
}
body.dark-theme .all-categories {
  color: var(--color-light-theme);
}
body.dark-theme .btn-all:hover {
  color: var(--color-green);
}
body.dark-theme .btn-all:focus {
  color: var(--color-green);
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(5, 5, 5, 0.18);
  box-shadow: inset 1px 1px 10px #f3faf7;
  border-radius: 12px;
}
/* scrooll для Mozilla Firefox */
.categories-container {
  scrollbar-color: rgba(5, 5, 5, 0.18);
  scrollbar-width: thin;
}
li {
  list-style-type: none;
}
.btn-all {
  background-color: transparent;
  font-family: --primary-font();
  color: rgba(5, 5, 5, 0.3);
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  transition: var(--transform-hover-focus);
  border: none;
  width: 100%;
  height: 100%;
}

.category-btn-active {
  color: var(--color-green);
}

.all-categories {
  font-family: --primary-font();
  font-weight: 500;
  width: 176px;
  height: 50px;
  padding: 14px 10px;
  border-radius: 15px;
  background-color: transparent;
  color: rgba(5, 5, 5, 0.5);
  border: 1px solid rgba(5, 5, 5, 0.2);
  transition: var(--transform-hover-focus);
}

.all-categories:hover,
.all-categories:focus {
  background: var(--color-green);
  color: var(--color-light-theme);
  border-color: 1px solid var(--color-green);
}
.btn-all:hover,
.btn-all:focus {
  color: var(--color-green);
}

/*MOBILE < 375px*/
@media screen and (max-width: 374px) {
}
/*MOBILE*/
@media screen and (max-width: 767px) {
  .categories-item:not(:last-child) {
    margin-bottom: 18px;
  }
  .catalog-container {
    width: 100%;
  }
  .all-categories {
    top: 775px;
    left: 20px;
    margin-bottom: 24px;
  }
  .btn-all {
    font-size: 14px;
    line-height: 18px;
  }
  .categories-container {
    width: 100%;
    height: 198px;
    top: 849px;
    left: 20px;
    overflow: auto;
  }
  .wrapper-categories {
    width: 64px;
    height: 198px;
    gap: 18px;
  }
}

/*TABLET*/
@media screen and (min-width: 768px) {
  .all-categories {
    top: 1049px;
    left: 32px;
    margin-bottom: 30px;
  }
  .btn-all {
    font-size: 16px;
    line-height: 20px;
  }
  .categories-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .categories-container {
    width: 176px;
    height: 416px;
    top: 1129px;
    left: 32px;
    overflow: auto;
  }
  .wrapper-categories {
    width: 110px;
    height: 416px;
  }
}

/*DESKTOP*/
@media screen and (min-width: 1280px) {
  .categories-container {
    width: 235px;
    height: 416px;
    top: 846px;
    left: 100px;
    overflow: auto;
  }
}
