/* ============= SEARCH FIELDS =============== */
.search-field {
  display: block;
  margin-bottom: 14px;
}

.search-input-title {
  display: block;
  margin-bottom: 8px;
  color: rgba(5, 5, 5, 0.5);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
}

body.dark-theme .search-input-title {
  color: rgba(255, 255, 255, 0.5);
}

.search-input-wrap {
  position: relative;
}

.search-input {
  display: block;
  max-width: 335px;
  height: 46px;
  padding-left: 48px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  background-color: #f8f8f8;
  color: inherit;
}

body.dark-theme .search-input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
  background-color: #161616;
}

.search-input::placeholder {
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

body.dark-theme .search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.icon-search {
  position: absolute;
  top: 14px;
  left: 18px;
  fill: rgba(5, 5, 5, 0.5);
}

body.dark-theme .icon-search {
  fill: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 768px) {
  .search-recipe-list-wrap {
    width: 496px;
    margin-left: auto;
  }

  .search-field {
    margin-bottom: 16px;
  }

  .search-input-title {
    font-size: 14px;
    line-height: 1.29;
  }

  .search-input {
    width: 278px;
    height: 48px;
  }

  .search-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .search-recipe-list-wrap {
    width: 782px;
  }
}

/* ============= RESET =============== */
.reset-wrap {
  display: flex;
  gap: 0 4px;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.icon-reset {
  stroke: rgba(155, 181, 55, 1);
}

.reset-text {
  color: rgba(5, 5, 5, 0.5);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
}

body.dark-theme .reset-text {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 768px) {
  .reset-wrap {
    margin-bottom: 14px;
  }
}

/* ============= RECIPE CATALOG =============== */
.recipe-list {
  margin-bottom: 40px;
}

.recipe-item {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: default;
}

.recipe-item:not(:last-child) {
  margin-bottom: 24px;
}

.recipe-image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: default;
  object-fit: cover;
}

.recipe-card-bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(1deg, rgba(5, 5, 5, 0.6) 0%, rgba(5, 5, 5, 0) 100%);
  background-size: cover;
  border-radius: 8px;
  cursor: default;
}

.icon-heart {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  z-index: 1000;
  stroke: rgba(248, 248, 248, 1);
  fill: transparent;
  transition: fill var(--transform-hover-focus);
  cursor: pointer;
}

.icon-heart path {
  pointer-events: none;
}

.icon-heart:hover,
.icon-heart:focus {
  fill: rgba(248, 248, 248, 1);
}

.recipe-card-text-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 16px 16px 16px;
}

.recipe-title {
  margin-bottom: 8px;
  color: #f8f8f8;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  text-transform: uppercase;
}

.recipe-description {
  margin-bottom: 16px;
  color: #f8f8f8;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}

.ratio-btn-wrap {
  display: flex;
  align-items: center;
}

.recipe-rating {
  color: #f8f8f8;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.open-recipe-btn {
  padding: 8px 14px;
  margin-left: auto;
  border: none;
  border-radius: 8px;
  background: #9bb537;
  color: #f8f8f8;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .recipe-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 64px;
  }

  .recipe-item {
    width: 240px;
    height: 264px;
  }

  .recipe-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .recipe-item {
    width: 250px;
    height: 287px;
  }
}

/* RATING */

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  line-height: 0.75;
}
.rating-body {
  position: relative;
}

.rating-body::before {
  content: '★★★★★';
  display: block;
  color: rgba(248, 248, 248, 0.1);
}

.rating-value-white {
  font-size: 14px;
  font-weight: 500;
  line-height: 0.9;
  padding-right: 4px;
  color: #f8f8f8;
}

.rating-active {
  position: absolute;
  width: 0%; /*!!!!!!!!!!!!!!!!!!!!!!*/
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating-active::before {
  content: '★★★★★';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #eea10c;
}

.rating-items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating-item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}
