.is-hidden {
  display: none;
}

.favorite-wrap {
  position: relative;
  height: 100px;
}

.favorites {
  padding-top: 50px;
  padding-bottom: 40px;
  overflow-x: hidden;
}

.fav-icon {
  display: block;
  margin: 0 auto 24px;
}

.favorites-text {
  color: #050505;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  color: inherit;
}

body.dark-theme .favorites-text {
  color: #ffffff;
}

.fav-def-img {
  border-radius: 15px;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .fav-def-img.del_in_mobil {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .favorites {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .fav-def-img {
    width: 704px;
    height: 356px;
    display: block;
    margin-bottom: 64px;
  }

  .fav-icon {
    width: 97px;
    height: 83px;
    margin: 0 auto 32px;
  }

  .favorites-text {
    margin: 0 auto;
    width: 481px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1280px) {
  .favorites {
    padding-top: 40px;
    overflow-x: hidden;
  }

  .fav-def-img {
    width: 1080px;
    height: 356px;
    display: block;
  }
}

.recipe-item.is-favorite .icon-heart {
  fill: rgb(255, 31, 31);
  stroke: rgb(255, 31, 31);
}
