.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: baseline;
}

.footer-black-text {
  color: var(--color-black-text);
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: -0.04em;
}

.footer-green-text {
  color: var(--color-green);
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: -0.04em;
}

.footer-copyright {
  color: var(--color-black-text);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

.footer-social-list {
  display: flex;
  gap: 0 14px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 0px solid var(--color-black-text);
  border-radius: 10px;
  color: var(--color-green);
  transition: color var(--transform-hover-focus), background-color var(--transform-hover-focus);
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: var(--color-green);
  background-color: var(--color-green);
  fill: var(--color-white-text);
}

.footer-social-icon {
  fill: var(--color-black-text);
}

body.dark-theme .footer-social-icon {
  fill: var(--color-light-theme);
}

body.dark-theme .footer-black-text {
  color: var(--color-light-theme);
}

body.dark-theme .footer-copyright {
  color: var(--color-light-theme);
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  .footer li:nth-child(2) {
    width: 100%;
    text-align: center;
  }
}
