.custom-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
}

.order-form {
  margin-top: 40px;
}

.custom-popup .label {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.custom-popup .label .label__text {
  display: block;
  margin-bottom: 8px;
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28571;
}

.label__error {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden;
  font-size: 12px;
  color: #c41c1c;
  padding-left: 18px;
  height: 0px;
  transition: var(--transform-hover-focus);
}

.label__error.active {
  background: none;
  height: 18px;
}

.custom-input {
  display: block;
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  height: 48px;
  padding: 14px 18px;
  color: var(--color-black-text);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  outline: none;
  transition: var(--transform-hover-focus);
}

.custom-input.custom-input--textarea {
  height: 100px;
  resize: none;
}

.custom-input.red {
  border: 1px solid rgb(196, 28, 28);
  color: rgb(196, 28, 28);
}

.custom-input ::placeholder {
  color: rgba(5, 5, 5, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  opacity: 1;
  transition: var(--transform-hover-focus);
}

.custom-input:focus {
  border: 1px solid var(--color-black-text);
}

.custom-input:focus::placeholder {
  opacity: 0;
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  margin-top: 10px;
}

.btn-wrapper.ta--c {
  justify-content: center;
  margin-top: 20px;
}

.btn-wrapper button {
  margin: 0;
}

.green-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light-theme);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  padding: 15px 28px;
  border: 1px solid var(--color-green);
  background: var(--color-green);
  border-radius: 15px;
  transition: var(--transform-hover-focus);
}

.green-btn.green-btn--full {
  width: 100%;
}

.green-btn:hover,
.green-btn:focus {
  color: var(--color-black-text);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 12px;
  background: rgba(5, 5, 5, 0.1);
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(5, 5, 5, 0.2);
}

@media screen and (max-width: 767px) {
  .custom-input {
    height: 46px;
  }
}
