.tui-pagination {
  height: 40px;
  margin: 0 auto !important;
  line-height: normal;
  text-align: center;
  font-size: 0;
}

.tui-pagination .tui-page-btn {
  border-radius: 50%;
}

body.dark-theme .tui-pagination .tui-page-btn {
  color: #fff !important;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

body.dark-theme .tui-pagination .tui-prev-is-ellip,
body.dark-theme .tui-pagination .tui-next-is-ellip {
  color: #ffffff !important;
  background-color: #161616;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

body.dark-theme .tui-first,
body.dark-theme .tui-prev,
body.dark-theme .tui-next,
body.dark-theme .tui-last {
  border: none !important;
}

.custom-class-first,
.custom-class-prev,
.custom-class-last,
.custom-class-next {
  background-color: #9bb537;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tui-first-child,
.tui-last-child {
  background-color: #f8f8f8;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

body.dark-theme .tui-first-child,
body.dark-theme .tui-last-child {
  color: #fff;
  background-color: #161616;
}

.custom-class-first.tui-is-disabled,
.custom-class-prev.tui-is-disabled,
.custom-class-last.tui-is-disabled,
.custom-class-next.tui-is-disabled {
  color: rgba(248, 248, 248, 0.5);
  background-color: #050505;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #fff;
  background: #9bb537 !important;
  border-color: #9bb537 !important;
  cursor: default;
}

.tui-pagination .tui-page-btn {
  width: 36px !important;
  height: 36px !important;
  color: #050505 !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  vertical-align: bottom !important;
  transition: background var(--transform-hover-focus);
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.tui-pagination .tui-page-btn:not(:last-child) {
  margin-right: 5px !important;
}

.tui-pagination .tui-page-btn:hover,
.tui-pagination strong:hover {
  background: #9bb537 !important;
}

.tui-ico-first,
.tui-ico-prev,
.tui-ico-next,
.tui-ico-last {
  vertical-align: text-bottom !important;
}

.tui-pagination .tui-next {
  margin-left: 0 !important;
}

@media screen and (min-width: 768px) {
  .tui-pagination .tui-page-btn {
    width: 40px !important;
    height: 40px !important;
    margin-left: 10px !important;
  }
}

@media screen and (min-width: 1280px) {
  .tui-pagination {
    width: 782px;
    margin: 0 0 0 auto !important;
  }
}

.is-hidden {
  display: none;
}
