.popular-wrap {
  position: relative;
  height: 100px;
}
/* =================== MY STYLES =============== */
/* Стилі для популярних рецептів */
/* Mobile > 375px */
@media screen and (max-width: 767px) {
  .list {
    list-style: none;
    margin: 0;
  }

  .popular-recipes {
    width: 100%;
    height: 202px;
    overflow: hidden;
    /* margin-bottom: 40px;
        margin-top: 40px; */
  }
  .catalog-title-popular {
    /* margin-top: 4px; */
    margin-bottom: 8px;
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 600;
    line-height: calc(24 / 18);
    color: var(--color-black-text);
    text-transform: uppercase;
  }
  body.dark-theme .catalog-title-popular {
    background-color: var(--color-dark-theme);
    color: var(--color-light-theme);
  }
  .popular-recipes-list {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  li {
    margin: 0;
  }

  .popular-recipes-item {
    width: 100%;
    height: 67px;
    display: flex;
    margin-top: 12px;
    margin-bottom: 0;
    align-items: center;
    margin-bottom: 12px;
  }

  .popular-recipes-img {
    width: 64px;
    height: 64px;
    margin: 0;
    border-radius: 7px;
  }

  .popular-recipes-wraper {
    width: 252px;
    height: 67px;
    padding-left: 10px;
  }

  .popular-recipes-title {
    margin: 0;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 14px;
    line-height: calc(18 / 14);
    color: var(--color-black-text);
    /* margin-top: 4px; */
    margin-bottom: 8px;
    text-transform: uppercase;
  }
  body.dark-theme .popular-recipes-title {
    background-color: var(--color-dark-theme);
    color: var(--color-light-theme);
  }
  .popular-recipes-description {
    margin: 0;
    font-family: var(--primary-font);
    color: var(--color-black-text);
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    height: 34px;
    overflow: hidden;
    letter-spacing: 0%;
    /* text-overflow:ellipsis;
        white-space:nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  body.dark-theme .popular-recipes-description {
    background-color: var(--color-dark-theme);
    color: var(--color-light-theme);
  }
}

/* Tablet > 768 */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  ul {
    padding: 0;
    margin: 0;
  }
  .list {
    margin: 0;
    padding: 0;
  }
  .popular-recipes {
    width: 176px;
    height: 372px;
    /* overflow: hidden; */
  }
  .popular-recipes-list {
    display: flex;
    padding: 0;
    margin: 0;
    width: 176px;
    /* margin-top: 32px; */
  }
  .catalog-title-popular {
    /* margin-top: 4px; */
    margin-bottom: 32px;
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 600;
    line-height: calc(24 / 18);
    color: var(--color-black-text);
    /* margin-bottom: 8px; */
    text-transform: uppercase;
  }
  body.dark-theme .catalog-title-popular {
    background-color: var(--color-dark-theme);
    color: var(--color-light-theme);
  }
  .popular-recipes-link {
    width: 176px;
    height: 67px;
    /* margin-top: 16px; */
  }

  .popular-recipes-list:not(:first-child) {
    margin-top: 16px;
  }
  .popular-recipes-item {
    width: 176px;
    height: 67px;
    display: flex;
    margin-bottom: 0;
    /* align-items: center; */
    /* margin-bottom: 12px; */
  }
  .popular-recipes-img {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    border-radius: 7px;
  }
  .popular-recipes-wraper {
    width: 130px;
    height: 67px;
    padding-left: 8px;
  }
  .popular-recipes-title {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 600;
    color: var(--color-black-text);
    /* margin-top: 4px; */
    margin-bottom: 8px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  body.dark-theme .popular-recipes-title {
    background-color: var(--color-dark-theme);
    color: var(--color-light-theme);
  }
  .popular-recipes-description {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 10px;
    color: var(--color-black-text);
    line-height: calc(14 / 10);
    height: 41px;
    overflow: hidden;
    /* text-overflow:ellipsis;
        white-space:nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  body.dark-theme .popular-recipes-description {
    background-color: var(--color-dark-theme);
    color: var(--color-light-theme);
  }
}

@media screen and (min-width: 1280px) {
  ul {
    padding: 0;
    margin: 0;
  }

  .list {
    margin: 0;
    padding: 0;
  }

  .popular-recipes {
    width: 235px;
    height: 424px;
    /* overflow: hidden; */
  }
  .popular-recipes-list {
    display: flex;
    padding: 0;
    margin: 0;
    width: 235px;
    /* margin-top: 32px; */
  }
  .catalog-title-popular {
    /* margin-top: 4px; */
    margin-bottom: 32px;
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: 600;
    line-height: calc(28 / 24);
    /* margin-bottom: 8px; */
    text-transform: uppercase;
    color: var(--color-black-text);
  }
  body.dark-theme .catalog-title-popular {
    background-color: var(--color-dark-theme);
    color: var(--color-light-theme);
  }
  .popular-recipes-link {
    width: 235px;
    height: 67px;
    /* margin-top: 16px; */
  }
  .popular-recipes-list:not(:first-child) {
    margin-top: 32px;
  }
  .popular-recipes-item {
    width: 235px;
    height: 67px;
    display: flex;
    margin-bottom: 0;
    /* align-items: center; */
    /* margin-bottom: 12px; */
  }
  .popular-recipes-img {
    width: 64px;
    height: 64px;
    margin: 0;
    padding: 0;
    border-radius: 7px;
  }
  .popular-recipes-wraper {
    width: 155px;
    height: 67px;
    padding-left: 16px;
  }
  .popular-recipes-title {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 600;
    line-height: calc(18 / 14);
    color: var(--color-black-text);
    margin-top: 0;
    margin-bottom: 8px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
  body.dark-theme .popular-recipes-title {
    background-color: var(--color-dark-theme);
    color: var(--color-light-theme);
  }
  .popular-recipes-description {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 10px;
    font-weight: 400;
    line-height: calc(14 / 10);
    color: var(--color-black-text);
    height: 41px;
    overflow: hidden;
    letter-spacing: 0%;
    /* text-overflow:ellipsis;
        white-space:nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  body.dark-theme .popular-recipes-description {
    background-color: var(--color-dark-theme);
    color: var(--color-light-theme);
  }
}
