@import url('./reset.css');
/* Андрій */
@import url('./preload.css');
/* Богдан Царук */
@import url('./header.css');
/* Богдан Царук */
@import url('./mobile-menu.css');
/* Руслан */
@import url('./hero.css');
/* Ірина */
@import url('./all-categories.css');
/* Богдан Кобак */
@import url('./popular-recipes.css');
/* Анна */
@import url('./catalog.css');
@import url('./pagination.css');
/* Андрій */
@import url('./footer.css');
/* Юрій */
@import url('./modal-window-recipe.css');
/* Руслан */
@import url('./order.css');
@import url('./custom-popup.css');
/* Руслан та Богдан Кобак */
@import url('./favorite.css');
@import url('./favorite-cards.css');

:root {
  --primary-font: 'Inter', sans-serif;
  --color-black-text: #050505;
  --color-white-text: #f8f8f8;
  --color-dark-theme: #050505;
  --color-light-theme: #f8f8f8;
  --color-green: #9bb537;
  --color-raiting: #eea10c;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --transform-hover-focus: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100%;
  align-content: space-between;
  font-family: var(--primary-font);
  color: var(--color-black);
  background-color: var(--color-light-theme);
  font-family: var(--primary-font);
  color: var(--color-black-text);
  background-color: var(--color-light-theme);
}

main {
  width: 100%;
  align-self: flex-start;
}

header {
  width: 100%;
}

body .dark-theme {
  background-color: var(--color-dark-theme);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*-------CONTAINER < 375px-----------------*/
@media screen and (max-width: 374px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* .section {
        padding: 0;
        padding-top: 40px;
        padding-bottom: 40px;
    } */
}

/*-------CONTAINER 375px-----------------*/
@media screen and (min-width: 0px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .all-section-recepies {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .section-categories-popular {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}

/*-------CONTAINER 768px-----------------*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 0px;
  }

  .all-section-recepies {
    display: flex;
    gap: 32px;
    padding: 0;
    padding-bottom: 0px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section-categories-popular {
    display: flex;
    gap: 64px;
    flex-direction: column;
    margin-top: 24px;
  }
}

/*-------CONTAINER 1280px-----------------*/
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0px;
  }

  .all-section-recepies {
    padding-left: 100px;
    padding-right: 100px;
    gap: 64px;
    flex-wrap: nowrap;
  }
}

/*-----------HIDDEN TEXT---------------------*/
.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-----------GO TO TOP---------------------*/
.go-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
  display: none;
  font-size: 15px;
  color: var(--color-white-text);
  border: 1px solid var(--color-white-text);
  background-color: var(--color-green);
  padding: 10px 10px;
  z-index: 1001;
  border-radius: 8px;
  transition: border var(--transform-hover-focus);
}

.go-top:hover {
  color: var(--color-white);
  background-color: var(--color-green);
  border: 1px solid var(--color-white-text);
}

.go-top--show {
  display: block;
}
