.container {
  min-width: 335px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;

  @include respondTo(tablet) {
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include respondTo(desktop) {
    max-width: 1104px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
