.category-container {
  margin-bottom: 40px;

  @include respondTo(desktop) {
    margin-bottom: 64px;
  }
}

.all-categories {
  width: 176px;
  padding: 14px 29px;
  border-radius: 15px;
  font-weight: 500;
  border: 1px solid lightColor('black-very-low');

  transition: $transition;

  body.light-theme & {
    color: lightColor('black-semi');
    background-color: lightColor('white-full');
    &:hover {
      color: lightColor('white-full');
      background-color: $green-full;
    }
  }

  body.dark-theme & {
    color: darkColor('white-semi-light');
    background-color: darkColor('dark-black');
    border-color: darkColor('white-semi-very-very-low');
    &:hover {
      color: lightColor('white-full');
      background-color: $green-full;
    }
  }
}

.categories-block {
  margin-top: 24px;
  width: 100%;
  max-height: 198px;
  overflow: hidden;
  overflow-y: auto;

  @include respondTo(tablet) {
    margin-top: 30px;
    width: 176px;
    max-height: 416px;
  }

  @include respondTo(desktop) {
    margin-top: 42px;
    width: 235px;
  }
}

.category-list {
  list-style: none;
  padding: 0;
}

.category-button {
  body.light-theme & {
    color: lightColor('black-low');
    &:hover {
      color: $green-full;
    }
  }
  body.dark-theme & {
    color: darkColor('white-semi-low');
    &:hover {
      color: $green-full;
    }
  }

  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: 500;
  cursor: pointer;

  transition: $transition;

  @include respondTo(tablet) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.categories-block::-webkit-scrollbar {
  width: 8px;
}

.categories-block::-webkit-scrollbar-thumb {
  body.light-theme & {
    background-color: lightColor('black-max-opacity');
  }

  body.dark-theme & {
    background-color: darkColor('white-semi-max-opacity');
  }

  border-radius: 5px;
}
