.category-container {
  margin-bottom: 40px;

  @include respondTo(desktop) {
    margin-bottom: 64px;
  }
}

.category-btn {
  width: 176px;
  padding: 14px 29px;
  border-radius: 15px;
  border: 1px solid lightColor('black-very-low');
  color: lightColor('black-semi');
  background-color: lightColor('white-full');

  transition: $transition;
  &:hover {
    color: lightColor('white-full');
    background-color: $green-full;
    border-color: transparent;
  }
}

.categories-block {
  margin-top: 24px;
  color: lightColor('black-semi');
  max-width: 326px;
  max-height: 198px;
  overflow: hidden;
  overflow-y: auto;

  @include respondTo(tablet) {
    margin-top: 30px;
    max-width: 176px;
    max-height: 416px;
  }

  @include respondTo(desktop) {
    margin-top: 42px;
    max-width: 235px;
  }
}

.category-list {
  list-style: none;
  padding: 0;
}

.category-item {
  margin-bottom: 18px;
  cursor: pointer;

  transition: $transition;
  &:hover {
    color: $green-full;
  }

  @include respondTo(tablet) {
    margin-bottom: 24px;
  }
}
