.cards-list {
  // display: flex;
  // flex-wrap: nowrap;
  @include respondTo(tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  @include respondTo(desktop) {
    row-gap: 20px;
    column-gap: 16px;
  }
}

.test-div {
  width: 335px;
  height: 335px;
  border-radius: 15px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  // @include respondTo(tablet) {
  //     width: 240px;
  //     height: 264px;

  // }

  // @include respondTo(desktop) {
  //     width: 250px;
  //     height: 287px;
  // }
}

.card-img {
  // background-color: black;
  border-radius: 15px;
  @include respondTo(tablet) {
    width: 240px;
    height: 264px;
  }

  @include respondTo(desktop) {
    width: 250px;
    height: 287px;
  }
}

.cards-item {
  // background-image: url(../images/test-card-img.png);
  // padding: 16px;
  position: relative;
  width: 335px;
  height: 335px;
  margin-bottom: 24px;

  @include respondTo(tablet) {
    width: 240px;
    height: 264px;
    margin-bottom: 0;
  }

  @include respondTo(desktop) {
    width: 250px;
    height: 287px;
  }
}

.cards-item-title {
  position: absolute;
  top: 214px;
  left: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  color: #f8f8f8;
  // color: #000;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  position: absolute;
  overflow: hidden;
  @include respondTo(tablet) {
    top: 143px;
  }

  @include respondTo(desktop) {
    top: 166px;
  }
}

.cards-item-text {
  position: absolute;
  top: 234px;
  left: 16px;
  color: #f8f8f8;
  // color: #000;
  margin-bottom: 16px;
  height: 30px;
  overflow: hidden;
  width: 303px;
  font-size: 12px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;

  @include respondTo(tablet) {
    top: 163px;
    width: 208px;
  }

  @include respondTo(desktop) {
    top: 186px;
  }
}

.cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-raiting {
  position: absolute;
  bottom: 22px;
  left: 16px;
  font-size: 14px;
  color: #f8f8f8;
  // color: #000;
}

.cards-item-btn {
  position: absolute;
  right: 16px;
  bottom: 16px;
  font-size: 12px;
  width: 90px;
  height: 30px;
  border-radius: 8px;
  color: #f8f8f8;
  background-color: #9bb537;
  transition: color $transition;

  &:hover,
  &:focus {
    color: #050505;
  }
}

.cards-heard-icon {
  // position: absolute;
  // top: 16px;
  // right: 16px;
  fill: transparent;
  // fill: red;
  stroke: #f8f8f8;
  width: 22px;
  height: 22px;
  // margin-left: 281px;
  // margin-bottom: 176px;
  cursor: pointer;
  transition: fill $transition;

  &:hover {
    fill: #fff;
  }
}

.js-fill {
  fill: #fff;
}

.rating-wrapper {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 45px;
}

.card-rating-icon {
  // fill: #EEA10C;
  fill: transparent;
  stroke: #050505;
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;

  // &:last-child {
  //     fill: transparent;
  //     stroke: #000000;
  // }
}

.btn-heard-icone {
  position: absolute;
  top: 16px;
  right: 16px;
  // height: 22px;
  z-index: 222;
}

.js-stars {
  fill: #eea10c;
  stroke: transparent;
}
