.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @include respondTo(tablet) {
    max-width: 704px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include respondTo(desktop) {
    max-width: 1080px;
    // padding-left: 100px;
    // padding-right: 100px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
