.favorites-hero {
    padding-top: 50px;
    
}
.hero-container{
    background-image: url(/src/images/favorites-hero-mobile.jpg);
    width: 335px;
    height: 516px;
    border-radius: 15px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: contain;
    // background-position: center;
    
@include respondTo(tablet) {
    background-image: url(/src/images/favorites-hero-tablet.jpg);
    width: 704px;
    height: 356px;
    
}

@include respondTo(desktop) {
    background-image: url(/src/images/favorites-hero-desctop.jpg);
    width: 1080px;
    
}
}




