// --------- Global header styles --------- //

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

// --------- Site navigation --------- //

.nav-list {
  display: none;
  @include respondTo(tablet) {
    display: flex;
    gap: 16px;
    font-size: 12px;
  }
}

.nav-item {
  position: relative;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: text-shadow $transition;

  &:hover {
    text-shadow: 0px 0px 10px currentColor;
  }
}

.current {
  color: $green-full;
}

.icon-fork {
  position: absolute;
  top: -60;
  left: 0;
  fill: $green-full;
  stroke: black;
  width: 36px;
  height: 36px;
  transform: rotate(-45deg);
  pointer-events: none;
  transition: top $transition;
}

.icon-fork.fav {
  left: 8;
}

.nav-item:hover .icon-fork {
  top: -26;
}

// --------- Header Logo --------- //
.header-logo {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: -0.04rem;
  margin-right: auto;
  @include respondTo(tablet) {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: -0.045rem;
    margin-right: 0;
  }
}
.header-logo-span {
  color: $green-full;
}

// --------- Utility bar --------- //
.utility-bar {
  align-items: center;
  display: flex;
  gap: 24px;
}

.cart-button {
  line-height: 0;
  margin-right: 14px;
}

.cart-icon {
  fill: transparent;
  stroke: $black-full;
  transition: stroke $transition;

  body.light-theme & {
    stroke: $black-full;
    &:hover {
      stroke: $green-full;
    }
  }

  body.dark-theme & {
    stroke: darkColor('white-full');
    &:hover {
      stroke: $green-full;
    }
  }
}

// Switch theme (toggle)

.switch {
  display: none;
  @include respondTo(tablet) {
    display: block;
    width: 46px;
    height: 20px;
    position: relative;
  }
}

.menu-list .switch {
  position: absolute;
  display: block;
  width: 46px;
  height: 20px;
  left: 20px;
  bottom: 20px;
}

.checkbox {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider {
  position: absolute;
  inset: 0;
  background-color: $gray-full;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

body.light-theme {
  .slider {
    box-shadow: 8px 5px 15px rgba(0, 0, 0, 0.3);
  }
}
body.dark-theme {
  .slider {
    box-shadow: 8px 5px 15px rgba(255, 255, 255, 0.15);
  }
}

.slider::before {
  position: absolute;
  content: '';
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightColor('white-full');
  border: 1px solid $gray-full;
  transform: translateX(0);
  transition: all 0.5s ease-out;
}

.checkbox:checked + .slider {
  background-color: $green-full;
}

.checkbox:checked + .slider::before {
  transform: translateX(26px);
}

// Open mobile-menu
.header-btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  @include respondTo(tablet) {
    display: none;
  }
}
.header-btn-svg {
  width: 32px;
  height: 32px;
  stroke: $black-full;
  body.dark-theme & {
    stroke: white;
  }
}

// mobile-menu
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: $green-full;
  z-index: 1222;
  display: flex;
  flex-direction: column;
  transform: translateX(200%);
  transition: transform $transition;
  body.dark-theme & {
    background-color: $black-full;
  }
}
.is-open {
  transform: translateX(0%);
}

// Close mobile-menu
.menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
}

.menu-btn-svg {
  width: 32px;
  height: 32px;
  stroke: lightColor('white-full');
}

.menu-list {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.menu-item {
  display: flex;
  justify-content: center;
}
.menu-link-home {
  text-align: justify;
  font-weight: 500;
  font-size: 12px;
  line-height: normal;
  color: lightColor('white-full');
  transition: text-shadow $transition;
  &:hover {
    text-shadow: 0px 0px 10px currentColor;
  }
}
.menu-link-favorites {
  text-align: justify;
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  color: lightColor('white-full');
  transition: text-shadow $transition;
  &:hover {
    text-shadow: 0px 0px 10px currentColor;
  }
}

.hideOverflow {
  overflow: hidden;
}
