.hero-section {
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 0;
  @include respondTo(tablet) {
    padding-top: 80px;
  }
}

.hero-container {
  @include respondTo(desktop) {
    display: flex;
    column-gap: 32;
  }
}
.hero {
  margin-bottom: 48px;
  @include respondTo(tablet) {
    margin-bottom: 64px;
  }
  @include respondTo(desktop) {
    margin-bottom: 0;
    min-width: 446px;
    margin-top: 64px;
  }
}
.hero-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 14px;
  max-width: 335px;
  text-transform: uppercase;

  @include respondTo(tablet) {
    max-width: 446px;
    font-size: 36px;
    margin-bottom: 16px;
  }
}
.hero-span {
  font-weight: 400;
  color: $green-full;
  font-style: italic;
}
.hero-text {
  max-width: 335px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 28px;

  @include respondTo(tablet) {
    max-width: 408px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
  }
}
.button-hero {
  display: block;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid $green-full;
  transition: background-color $transition, color $transition;

  body.dark-theme & {
    color: darkColor('white-full');
  }

  @include respondTo(tablet) {
    padding: 14px 28px;
  }
  @include respondTo(desktop) {
    margin-bottom: 0px;
  }

  &:hover {
    color: lightColor('white-full');
    background-color: $green-full;
  }
}

// ------------------CARD-------------------------//
.card-shef {
  display: block;
  height: 280px;
  width: 80px;
  border-radius: 15px;

  @include respondTo(tablet) {
    width: 137px;
    height: 442px;
  }
}
.card-food {
  display: block;
  width: 200px;
  height: 280px;
  margin: 0 10px;
  border-radius: 15px;
  background-image: radial-gradient(
    circle at center,
    rgb(54, 62, 20) 0.01%,
    $black-full 150px
  );

  @include respondTo(tablet) {
    width: 351px;
    height: 442px;

    background-image: radial-gradient(
      circle at center,
      rgb(54, 62, 20) 0.01%,
      $black-full 280px
    );
  }
}

.card-tasty {
  display: block;
  width: 200px;
  height: 280px;
  border-radius: 15px;
  margin-right: -20px;
  overflow: hidden;

  @include respondTo(tablet) {
    width: 351px;
    height: 442px;
  }
}
