.backdrop {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0px;
  top: 0px;
  z-index: 1222;
  width: 100%;
  height: 100%;
  padding-top: 20px;

  transition: opacity $transition, visibility $transition;
  background-color: rgba(30, 40, 39, 0.5);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

.modal-recipe-card {
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  max-width: 250px;
  padding: 40 20;
  border-radius: 15px;

  overflow-y: auto;

  @include respondTo(mobile) {
    min-width: 335px;
  }
  @include respondTo(tablet) {
    min-width: 531px;
    padding: 32px;
  }
}

.modal-btn-close {
  position: absolute;
  top: 14;
  right: 14;
  stroke: $black-full;
  @include respondTo(tablet) {
    top: 16;
    right: 16;
  }
}

.modal-button-icon {
  transition: transform $transition;
}

.modal-btn-close:hover .modal-button-icon, .modal-btn-close:focus .modal-button-icon {
  transform: scale(1.2);
}

.modal-recipe-card {
  background-color: lightColor('white-full');
}

.card-markup-modal {
  position: relative;
  font-size: 14px;
  line-height: 1.28;
  color: $black-full;
}

.modal-recipe-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
  margin-bottom: 14px;
  @include respondTo(tablet) {
    position: absolute;
    top: 0;
    line-height: 1.22;
    margin-bottom: 0px;
  }
}

.iframe-video {
  width: 295px;
  height: 295px;
  margin-bottom: 20px;
  @include respondTo(tablet) {
    width: 467px;
    height: 250px;
    margin-top: 30px;
    margin-bottom: 16px;
  }
}

.modal-general-inf {
  display: flex;
  flex-direction: column;
  padding-top: 3px;
}

.hashtag-btn-list-tablet {
  display: flex;
}

.card-star-modal {
  display: flex;
  font-weight: 500;
  margin-bottom: 33px;
  color: lightColor('black-semi');
  @include respondTo(tablet) {
    margin-bottom: 32px;
    margin-left: auto;
  }
}

.modal-raiting {
  margin-right: 12px;
}

.starts-modal {
  display: flex;
  margin-right: 6px;
}

.modal-ingr-list {
  // margin-top: 20px;
  max-height: 156px;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 40px;
  @include respondTo(tablet) {
    margin-bottom: 32px;
  }
}

.modal-ingr-list::-webkit-scrollbar {
  width: 8px;
}

.modal-ingr-list::-webkit-scrollbar-thumb {
  body.light-theme & {
    background-color: lightColor('black-max-opacity');
  }

  body.dark-theme & {
    background-color: darkColor('white-semi-max-opacity');
  }

  border-radius: 5px;
}

.modal-card-ingr {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 6px;
  padding-right: 6px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.1);
}

.modal-card-measure {
  color: lightColor('black-semi');
}

.hashtag-btn-list-tablet {
  gap: 8;
  margin-bottom: 24px;
  @include respondTo(tablet) {
    position: absolute;
    top: 295;
    margin-bottom: 0px;
  }
}

.hashtag-btn-item {
  padding: 8px 16px;
  border-radius: 35px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.modal-recipe-instructions {
  color: lightColor('black-semi');
}

.extra-modal-button {
  display: flex;
  gap: 14;
  margin-top: 40px;
  font-family: Inter;

  font-weight: 500;
  @include respondTo(tablet) {
    gap: 16;
    margin-top: 32px;
  }
}

.modal-add-favorite,
.modal-give-rating {
  padding: 12px 24px;
  border-radius: 15px;
  @include respondTo(tablet) {
    padding: 14px 28px;
  }
}
.modal-add-favorite {
  color: lightColor('white-full');
  background-color: $green-full;
  transition: color $transition;
  &:hover,  &:focus {
    color: $black-full;
  }
}
.modal-give-rating {
  border: solid 1px $green-full;
  transition: color $transition, background-color $transition;
  &:hover, &:focus {
    color: lightColor('white-full');
    background-color: $green-full;
  }
}

// ======== Темна тема ========
body.dark-theme {
  .modal-recipe-card {
    background-color: darkColor('dark-black');
  }
  .card-markup-modal {
    color: #fff;
  }
  .modal-btn-close {
    stroke: darkColor('white-full');
  }
  .modal-raiting {
    color: darkColor('white-semi-light');
  }
  .modal-card-ingr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .modal-card-measure {
    color: darkColor('white-semi-light');
  }
  .modal-card-time {
    color: darkColor('white-semi-light');
  }
  .hashtag-btn-item {
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .modal-recipe-instructions {
    color: darkColor('white-semi-light');
  }
  .modal-give-rating {
    color: lightColor('white-full');
    transition: color $transition, background-color $transition;
    &:hover, &:focus {
      color: $black-full;
      background-color: $green-full;
    }
  }
}
