.order-modal {
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  max-width: 250px;
  padding: 40 20;
  border-radius: 15px;
  background-color: lightColor('white-full');

  overflow-y: auto;

  @include respondTo(mobile) {
    min-width: 335px;
  }
  @include respondTo(tablet) {
    min-width: 424px;
    padding: 32px;
  }
}

.order-btn-close {
  position: absolute;
  top: 14;
  right: 14;
  stroke: $black-full;
}

.order-btn-close {
  transition: transform $transition;
}

.order-btn-close:hover .modal-button-icon {
  transform: scale(1.2);
}

.order-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  text-transform: uppercase;

  margin-bottom: 28px;
  @include respondTo(tablet) {
    margin-bottom: 40px;
  }
}

.order-form-lable {
  color: lightColor('black-semi');
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28px;
}

.order-form-input {
  margin-top: 8px;
  margin-bottom: 16px;
  width: 100%;
  height: 46px;
  padding: 14px 18px;
  border-radius: 15px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid lightColor('black-very-low');
  @include respondTo(tablet) {
    height: 48px;
    margin-bottom: 18px;
  }
}

.order-form-input:valid:focus {
  border-color: green;
}

.order-form-input:invalid:focus {
  border-color: red;
}

.form-comment {
  width: 100%;
  height: 100px;
  padding: 14 18;
  margin-top: 8px;
  margin-bottom: 40px;
  border-radius: 15px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid lightColor('black-very-low');
  resize: none;
  @include respondTo(tablet) {
    height: 100px;
  }
}

.order-form-btn {
  width: 100%;
  padding: 15px 0;

  color: lightColor('white-full');
  font-size: 14px;
  font-weight: 500;
  border-radius: 15px;
  background-color: $green-full;
  transition: color $transition;
  @include respondTo(tablet) {
    padding: 14px 0;
  }
}

.order-form-btn:focus,
.order-form-btn:hover {
  color: $black-full;
}

// ======== Темна тема ========
body.dark-theme {
  .order-modal {
    color: #fff;
    background-color: darkColor('dark-black');
  }
  .order-btn-close {
    stroke: darkColor('white-full');
  }
  .order-form-lable {
    color: darkColor('white-semi-light');
  }

  .order-form-input,
  .form-comment {
    color: darkColor('white-full');
    border: 1px solid darkColor('white-semi-very-very-low');
  }
}
