.hidden {
  display: none;
}

.order-backdrop {
  position: fixed;
  padding: 0px 0px;
  left: 0px;
  top: 0px;
  z-index: 200;
  width: 100%;
  height: 100%;

  background-color: rgba(30, 40, 39, 0.5);
  overflow: auto;
  opacity: 1;
  transition: opacity $transition, visibility $transition;

  @include respondTo(tablet) {
    padding: 10px 20px;
  }
}

.order-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-delay: $transition;
}
.order-backdrop.is-hidden > .order-modal {
  transform: translate(-100%, -100%) scale(0%);
  opacity: 0;
}

.order-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 335px;
  height: 582px;
  background-color: lightColor('white-full');
  border-radius: 15px;
  overflow: hidden;
  padding: 28px 20px;

  transition-delay: 150ms;

  @include respondTo(tablet) {
    padding: 40px 40px;
    width: 440px;
    height: 623px;
  }
}

.order-btn-close {
  position: fixed;
  top: 14px;
  right: 14px;
  float: right;

  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  padding: 3px;

  background-color: lightColor('white-full');
  transform: translate(-16px, 16px);

  @include respondTo(tablet) {
    width: 24px;
    height: 24px;
    top: 16px;
    right: 16px;
  }
}
.modal-button-icon {
  background-repeat: no-repeat;
  background-position: center;

  fill: black;
}
.order-title {
  color: #050505;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.22;
  text-transform: uppercase;

  margin-bottom: 28px;
  @include respondTo(tablet) {
    margin-bottom: 40px;
  }
}

.order-form-lable {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29px;
}

.order-form-input {
  margin-top: 8px;
  margin-bottom: 16px;
  width: 295px;
  height: 46px;
  padding: 14px 18px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  @include respondTo(tablet) {
    width: 360px;
    height: 48px;
    margin-bottom: 18px;
  }
}

.form-comment {
  width: 295px;
  height: 100px;
  padding: 14px 169px 14px 18px;
  margin-top: 8px;
  margin-bottom: 40px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  resize: none;
  @include respondTo(tablet) {
    width: 360px;
    height: 100px;
  }
}

.order-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295px;
  padding: 15px 0px;

  color: #f8f8f8;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 15px;
  background-color: #9bb537;
  @include respondTo(tablet) {
    width: 360px;
    padding: 14px 142px;
  }
}

.order-form-btn:focus,
.order-form-btn:hover {
  color: #050505;
}
