.rating-modal-card {
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  max-width: 250px;
  padding: 40 20;
  border-radius: 15px;
  background-color: lightColor('white-full');

  overflow-y: auto;

  @include respondTo(mobile) {
    min-width: 335px;
  }
  @include respondTo(tablet) {
    min-width: 424px;
    padding: 32px;
  }
}

.modal-rating-close {
  position: absolute;
  top: 14;
  right: 14;
  stroke: $black-full;
}

.modal-rating-close {
  transition: transform $transition;
}

.modal-rating-close:hover .modal-button-icon {
  transform: scale(1.2);
}

.rating-form-paragraph {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  margin-bottom: 4px;
}

.rating-cover {
  display: flex;
  gap: 8;
  margin-bottom: 24px;
}

#ratingForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  width: 20px;
  height: 20px;
  fill: $gray-full;
  cursor: pointer;
}

.star.active,
input[type='radio']:checked ~ svg.star {
  fill: $orange-full;
}

.rating-input-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rating-email-input {
  height: 46px;
  padding-left: 18px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 15px;
  border: 1px solid lightColor('black-very-low');
  outline: transparent;
  background-color: transparent;
}

.rating-email-input::placeholder {
  color: lightColor('black-semi');
}

.rating-email-input:valid:focus {
  border-color: green;
}

.rating-email-input:invalid:focus {
  border-color: red;
}

.rating-send-btn {
  padding: 14 28;
  border-radius: 15px;
  color: lightColor('white-full');
  background-color: $green-full;
  transition: color $transition;
  &:hover {
    color: $black-full;
  }
}

.rating-send-btn:disabled {
  background-color: $gray-full;
}

// ======== Темна тема ========
body.dark-theme {
  .rating-modal-card {
    color: #fff;
    background-color: darkColor('dark-black');
  }
  .modal-rating-close {
    stroke: darkColor('white-full');
  }
  .rating-email-input {
    color: #fff;
    border: 1px solid darkColor('white-semi-very-very-low');
  }
  .rating-email-input::placeholder {
    color: darkColor('white-semi-light');
  }
}

.js-stars {
  fill: #eea10c;
  stroke: transparent;
}
