.recipes-section {
  padding-top: 0;
}
.recipes-wrap {
  @include respondTo(tablet) {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
  @include respondTo(desktop) {
  }
}
.search-and-cards {
  @include respondTo(tablet) {
    width: 497px;
  }
  @include respondTo(desktop) {
    width: auto;
  }
}
