.recipes-wrap {
  @include respondTo(tablet) {
    display: flex;
    gap: 30px;
  }
  @include respondTo(desktop) {
    gap: 63px;
  }
}
.search-and-cards {
  @include respondTo(tablet) {
    width: 497px;
  }
  @include respondTo(desktop) {
    width: auto;
  }
}
