#button {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  background-color: $green-full;
  background-size: 1000% 400%;
}
#button::after {
  content: '\2B06';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background: #333;
}
#button:active {
  background: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
